<a href="https://colab.research.google.com/github/reiderwin/deep-learning-challenge/blob/main/AlphabetSoupCharity_Optimzation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [36]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

from google.colab import files
uploaded = files.upload()
#  Import and read the charity_data.csv.
import io
application_df = pd.read_csv(io.BytesIO(uploaded['charity_data.csv']))

application_df.head()

Saving charity_data.csv to charity_data (2).csv

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [37]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE

application_df = application_df.drop(['EIN', 'NAME'], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [38]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [39]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE

# value counts of each unique value
print(application_df['APPLICATION_TYPE'].value_counts())

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [40]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
application_types_to_replace = ['T9', 'T13', "T12", 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [41]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
print(application_df['CLASSIFICATION'].value_counts().loc[lambda x : x>1])

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [42]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE

In [43]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
classifications_to_replace = application_df['CLASSIFICATION'].value_counts().index[-56:].tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      391
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
Name: CLASSIFICATION, dtype: int64

In [44]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE

X = application_df.drop('IS_SUCCESSFUL', axis=1)
X_dummies = pd.get_dummies(X)
y_label = application_df['IS_SUCCESSFUL']
y_label

0        1
1        1
2        0
3        1
4        1
        ..
34294    0
34295    0
34296    0
34297    1
34298    0
Name: IS_SUCCESSFUL, Length: 34299, dtype: int64

In [45]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE

# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE

X_train, X_test, y_train, y_test = train_test_split(X_dummies, y_label, random_state=42)

In [46]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [47]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn_model = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn_model.add(tf.keras.layers.Dense(units=8, activation="relu", input_dim=53))
# Second hidden layer
#  YOUR CODE GOES HERE
nn_model.add(tf.keras.layers.Dense(units=8, activation="relu"))
nn_model.add(tf.keras.layers.Dense(units=6, activation="relu"))
nn_model.add(tf.keras.layers.Dense(units=2, activation="tanh"))
# Output layer
#  YOUR CODE GOES HERE
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_8 (Dense)             (None, 8)                 432

 dense_9 (Dense)             (None, 8)                 72

 dense_10 (Dense)            (None, 6)                 54

 dense_11 (Dense)            (None, 2)                 14

 dense_12 (Dense)            (None, 1)                 3

=================================================================
Total params: 575
Trainable params: 575
Non-trainable params: 0
_________________________________________________________________

In [48]:
# Compile the model
#  YOUR CODE GOES HERE
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [49]:
# Train the model
#  YOUR CODE GOES HERE
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=25)

Epoch 1/25
804/804 [==============================] - 2s 2ms/step - loss: 0.6203 - accuracy: 0.6720
Epoch 2/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5697 - accuracy: 0.7222
Epoch 3/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5633 - accuracy: 0.7255
Epoch 4/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5595 - accuracy: 0.7272
Epoch 5/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5571 - accuracy: 0.7278
Epoch 6/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5546 - accuracy: 0.7282
Epoch 7/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5531 - accuracy: 0.7287
Epoch 8/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5527 - accuracy: 0.7285
Epoch 9/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5520 - accuracy: 0.7283
Epoch 10/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5514 - accuracy: 0.7284
Epoch 11/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5507 - accuracy: 0.7291
Epoch 12/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5502 - accuracy: 0.7289
Epoch 13/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5497 - accuracy: 0.7295
Epoch 14/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5496 - accuracy: 0.7302
Epoch 15/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5491 - accuracy: 0.7301
Epoch 16/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5491 - accuracy: 0.7301
Epoch 17/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5486 - accuracy: 0.7288
Epoch 18/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5485 - accuracy: 0.7289
Epoch 19/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5482 - accuracy: 0.7296
Epoch 20/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5480 - accuracy: 0.7296
Epoch 21/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5475 - accuracy: 0.7302
Epoch 22/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5476 - accuracy: 0.7299
Epoch 23/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5475 - accuracy: 0.7299
Epoch 24/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5471 - accuracy: 0.7307
Epoch 25/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5468 - accuracy: 0.7326

In [50]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5559 - accuracy: 0.7300 - 566ms/epoch - 2ms/step
Loss: 0.5558837056159973, Accuracy: 0.7300291657447815

In [51]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
nn_model.save('AlphabetSoupCharity_Optimization.h5')