<a href="https://colab.research.google.com/github/reiderwin/deep-learning-challenge/blob/main/Starter_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [13]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

from google.colab import files
uploaded = files.upload()
#  Import and read the charity_data.csv.
import io
application_df = pd.read_csv(io.BytesIO(uploaded['charity_data.csv']))

application_df.head()

Saving charity_data.csv to charity_data.csv

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [14]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE

application_df = application_df.drop(['EIN', 'NAME'], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [15]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [16]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE

# value counts of each unique value
print(application_df['APPLICATION_TYPE'].value_counts())

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [17]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
application_types_to_replace = ['T9', 'T13', "T12", 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [18]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
print(application_df['CLASSIFICATION'].value_counts().loc[lambda x : x>1])

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [19]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE

In [20]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
classifications_to_replace = application_df['CLASSIFICATION'].value_counts().index[-56:].tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      391
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
Name: CLASSIFICATION, dtype: int64

In [21]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE

X = application_df.drop('IS_SUCCESSFUL', axis=1)
X_dummies = pd.get_dummies(X)
y_label = application_df['IS_SUCCESSFUL']
y_label

0        1
1        1
2        0
3        1
4        1
        ..
34294    0
34295    0
34296    0
34297    1
34298    0
Name: IS_SUCCESSFUL, Length: 34299, dtype: int64

In [22]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE

# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE

X_train, X_test, y_train, y_test = train_test_split(X_dummies, y_label, random_state=42)

In [23]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [24]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn_model = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn_model.add(tf.keras.layers.Dense(units=8, activation="relu", input_dim=53))
# Second hidden layer
#  YOUR CODE GOES HERE
nn_model.add(tf.keras.layers.Dense(units=6, activation="relu"))
# Output layer
#  YOUR CODE GOES HERE
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 432

 dense_1 (Dense)             (None, 6)                 54

 dense_2 (Dense)             (None, 1)                 7

=================================================================
Total params: 493
Trainable params: 493
Non-trainable params: 0
_________________________________________________________________

In [25]:
# Compile the model
#  YOUR CODE GOES HERE
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [26]:
# Train the model
#  YOUR CODE GOES HERE
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5972 - accuracy: 0.6955
Epoch 2/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5645 - accuracy: 0.7217
Epoch 3/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5573 - accuracy: 0.7276
Epoch 4/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5540 - accuracy: 0.7294
Epoch 5/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5516 - accuracy: 0.7309
Epoch 6/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5503 - accuracy: 0.7321
Epoch 7/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5494 - accuracy: 0.7325
Epoch 8/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5485 - accuracy: 0.7323
Epoch 9/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5482 - accuracy: 0.7321
Epoch 10/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5472 - accuracy: 0.7325
Epoch 11/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5464 - accuracy: 0.7339
Epoch 12/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5458 - accuracy: 0.7338
Epoch 13/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5459 - accuracy: 0.7330
Epoch 14/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5454 - accuracy: 0.7334
Epoch 15/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7344
Epoch 16/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5450 - accuracy: 0.7337
Epoch 17/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5445 - accuracy: 0.7338
Epoch 18/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5441 - accuracy: 0.7341
Epoch 19/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5442 - accuracy: 0.7345
Epoch 20/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5440 - accuracy: 0.7339
Epoch 21/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5435 - accuracy: 0.7338
Epoch 22/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5434 - accuracy: 0.7348
Epoch 23/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5433 - accuracy: 0.7346
Epoch 24/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5431 - accuracy: 0.7339
Epoch 25/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5433 - accuracy: 0.7347
Epoch 26/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5426 - accuracy: 0.7341
Epoch 27/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5425 - accuracy: 0.7348
Epoch 28/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5427 - accuracy: 0.7339
Epoch 29/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5425 - accuracy: 0.7353
Epoch 30/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5421 - accuracy: 0.7346
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5422 - accuracy: 0.7353
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5423 - accuracy: 0.7360
Epoch 33/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5421 - accuracy: 0.7346
Epoch 34/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5420 - accuracy: 0.7342
Epoch 35/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5421 - accuracy: 0.7355
Epoch 36/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5419 - accuracy: 0.7354
Epoch 37/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5419 - accuracy: 0.7354
Epoch 38/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5414 - accuracy: 0.7353
Epoch 39/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5419 - accuracy: 0.7352
Epoch 40/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5415 - accuracy: 0.7357
Epoch 41/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5415 - accuracy: 0.7353
Epoch 42/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5415 - accuracy: 0.7357
Epoch 43/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5414 - accuracy: 0.7353
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5416 - accuracy: 0.7362
Epoch 45/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5416 - accuracy: 0.7347
Epoch 46/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5415 - accuracy: 0.7357
Epoch 47/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5412 - accuracy: 0.7357
Epoch 48/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5409 - accuracy: 0.7358
Epoch 49/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5412 - accuracy: 0.7355
Epoch 50/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5411 - accuracy: 0.7358
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5410 - accuracy: 0.7353
Epoch 52/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5412 - accuracy: 0.7356
Epoch 53/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5410 - accuracy: 0.7356
Epoch 54/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5409 - accuracy: 0.7356
Epoch 55/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5408 - accuracy: 0.7366
Epoch 56/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5408 - accuracy: 0.7355
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5410 - accuracy: 0.7352
Epoch 58/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5406 - accuracy: 0.7360
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5406 - accuracy: 0.7346
Epoch 60/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5411 - accuracy: 0.7352
Epoch 61/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5410 - accuracy: 0.7355
Epoch 62/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5405 - accuracy: 0.7362
Epoch 63/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5407 - accuracy: 0.7355
Epoch 64/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5407 - accuracy: 0.7350
Epoch 65/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5403 - accuracy: 0.7354
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7357
Epoch 67/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5405 - accuracy: 0.7360
Epoch 68/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5404 - accuracy: 0.7358
Epoch 69/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5402 - accuracy: 0.7352
Epoch 70/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5403 - accuracy: 0.7362
Epoch 71/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5405 - accuracy: 0.7357
Epoch 72/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5404 - accuracy: 0.7359
Epoch 73/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5401 - accuracy: 0.7362
Epoch 74/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5404 - accuracy: 0.7358
Epoch 75/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5405 - accuracy: 0.7365
Epoch 76/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5403 - accuracy: 0.7353
Epoch 77/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5403 - accuracy: 0.7360
Epoch 78/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5401 - accuracy: 0.7358
Epoch 79/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5402 - accuracy: 0.7361
Epoch 80/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5401 - accuracy: 0.7357
Epoch 81/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5402 - accuracy: 0.7339
Epoch 82/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5401 - accuracy: 0.7353
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7365
Epoch 84/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5400 - accuracy: 0.7355
Epoch 85/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5399 - accuracy: 0.7362
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5398 - accuracy: 0.7355
Epoch 87/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5396 - accuracy: 0.7358
Epoch 88/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5399 - accuracy: 0.7348
Epoch 89/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5396 - accuracy: 0.7352
Epoch 90/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5393 - accuracy: 0.7357
Epoch 91/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5397 - accuracy: 0.7365
Epoch 92/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5398 - accuracy: 0.7363
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7358
Epoch 94/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5399 - accuracy: 0.7371
Epoch 95/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5396 - accuracy: 0.7362
Epoch 96/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5391 - accuracy: 0.7360
Epoch 97/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5399 - accuracy: 0.7365
Epoch 98/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5398 - accuracy: 0.7364
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7359
Epoch 100/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5394 - accuracy: 0.7364

In [27]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5510 - accuracy: 0.7301 - 736ms/epoch - 3ms/step
Loss: 0.5510396957397461, Accuracy: 0.7301457524299622

In [35]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
nn_model.save('AlphabetSoupCharity_Erwin.h5')